Como avaliar seu modelo de classificação.docx

.ipynb_checkpoints
dados/dados não usados/IMP_COMPLETA.zip
dados/dados não usados/market Share 2021 a 2016_Brasil_rev0200.xlsx
dados/IMPORT_FILTRO.csv
dados/dados não usados/final_seguro_frete.csv
dados/dados não usados/final.csv
dados/dados não usados/IMP_COMPLETA.csv